	</div>
	<footer>
		<hr />
		<p>&copy;2011-2014 Nathan Walker</p>
		<p>Made with love in Pennsylvania</p>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ settings.base-url }}/js/bigfoot.js"></script>
	<script type="text/javascript">
	$.bigfoot({
		actionOriginalFN: "ignore",
		numberResetSelector: "article"
	});
	</script>
</body>
</html>