<div class="entry-meta">
	<span class="authorlink">
		{{ authorLink }}
	</span><br />
	<span class="permalink">
		<a href="{{ pageURL }}">{{{ makeTimeTag "published" }}}</a>
	</span><br />
	{{#if tags}}
	<span class="tags">
		Tagged: {{ tagList }}
	</span>
	{{/if}}
</div>
